::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
  border-radius: 10px;
  transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-border);
}

::-webkit-scrollbar-button {
  display: none;
}

::selection {
  background: var(--color-selection);
  color: var(--color-text);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  background-color: hsl(0, 0%, 91%);
  color: var(--color-text);
}

img {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
}
